/* By j for t. */

body {
	display : flex ;
	flex-direction : column ;
	justify-content : center ;
	align-items : center ;
	width : 100vw ;
	height : 100vh ;
}

.login {
	background-color : white ;
	border-radius : 1rem ;
	padding : 1rem ;
	min-width : 15rem ;
	width : 30% ;
}

.login *:not(:first-child) {
	margin-top : 0.5rem ;
}

.login h1 {
	text-align : center ;
}

