/* Made by J for T. */

.post-holder {
	display : flex ;
	flex-direction : row ;
	justify-content : center ;
	flex-wrap : wrap ;
	/*margin-left : auto ;
	margin-right : auto ;*/
}

.post-holder .post {
	background-color : white ;
	width : 15rem ;
	height: 22.5rem ;
	margin : 1rem ;
	flex-shrink : 0 ;
	border-radius : 1rem;
}

.post-holder .post .title {
	margin : 1rem ;
}

.post-holder .post .desc {
	margin : 1rem ;
}

.post-holder .post .logo-container .logo{
	width : 100% ;
	height : 40% ;
	overflow: hidden;
	visibility:visible;
	background-color : #d9d9d9 ;
	border-radius : 1rem 1rem 0 0 ;
	border : 0 ;
	outline : none ;
}

.post-holder .post .logo-container {
	display: block;
}

.post-holder .post .tag-holder .tag {
	text-align : center ;
	color : white ;
	background-color : #47bcd4 ;
	padding : 0.10rem ;
	padding-right : 0.5rem ;
	padding-left : 0.5rem ;
	border-radius : 1rem ;
	font-size : 0.8rem ;
}

