/* Made by J for T. */
/* html {
	background-color : grey ;
} */

.top-bar {
	display: flex;
	align-items : center ;
	justify-content: space-between;
	wrap-items : wrap ;
	position : sticky ;
	padding : 0.2rem ;
	left : 0 ;
	top : 0 ;
	width : 100% ;
	height : 3rem ;
	background-color : white ;
}

.top-bar .left {
	margin-left : 2rem ;
	padding-left : 2rem ;
	display : flex ;
	justify-content: space-between;
	align-items : center ;
	vertical-align : middle ;
	background-color : #f1faee ;
	height : 80% ;
	border-radius : 2rem ;
}

.top-bar .left .username {
	color : #47bcd4 ;
}

.top-bar .left .user-img {
	display : inline ;
	max-height : 100% ;
	border-radius : 50% ;
	margin-left : 2rem ;
}

.top-bar .center {
	font-size : 1rem;
	text-align : center ;
}

.top-bar .right {
	display : flex ;
	align-items : center ;
	height : 2rem ;
	background-color : #f1faee ;
	border-radius : 1rem ;
	margin-right : 2rem ;
}


.top-bar .right .logo {
	display : inline ;
	max-height : 100% ;
}

.top-bar .right .search {
	border : none ;
	background : none ;
}

.top-bar .right .search::placeholder {
	color : #47bcd4 ;
	opacity : 1 ;
}

.top-bar .right .search:focus {
	border : none ;
	outline : none ;
}

